/backend/backend
/backend/*.exe
/backend/bin/

.env*
*.env*
**/.env*

/client/.dart_tool/
/client/.flutter-plugins
/client/.flutter-plugins-dependencies
/client/.pub-cache/
/client/build/
/client/android/key.properties
/client/ios/.symlinks/

/scrapper/venv/
/scrapper/__pycache__/
/scrapper/.pytest_cache/
/scrapper/data/
/scrapper/scratch/
*.pyc

.vscode/
.idea/
.DS_Store
*.log
