/backend/backend
/backend/*.exe
/backend/bin/

.env*
*.env*
**/.env*

/scrapper/venv/
/scrapper/__pycache__/
/scrapper/.pytest_cache/
/scrapper/data/
/scrapper/scratch/
*.pyc

/logs/
*.log

.vscode/
.idea/
.DS_Store
